<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css"/>


    </head>

    <body>
        
       
       <div class="mid">
            <p>Welcome {{firstname}} {{lastname}}</p>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
       </div>

        <footer>Copyright information bla bla bla</footer>
    </body>
</html>